<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>__HOME__</string>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.badapple.tape</string>
	<key>Nice</key>
	<integer>10</integer>
	<key>ProgramArguments</key>
	<array>
		<string>__REPO_ROOT__/target/release/badapple-tape</string>
		<string>daemon</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/var/lib/bad_apple/tape.log</string>
	<key>StandardOutPath</key>
	<string>/var/lib/bad_apple/tape.log</string>
</dict>
</plist>
